<!DOCTYPE html>
<html>
<head>
    <title>{{ title|default('Test') }}</title>
</head>
<body>
    <h1>{{ title|default('Test Page') }}</h1>
    <p>{{ message|default('No message') }}</p>
</body>
</html>